/*Головні стилі */
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,p {
    margin: 0; 
}

ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

h1, h2, h3,{
    font-family: "Roboto";      
}

a{
    text-decoration: none;

}

img{
    display: block;
    min-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
.section{
    padding: 120px 0;
}

/*HEADER */
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}

.logo-span-header{
    color: #2E2F42;
}
    
.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
    margin-right: 76px;
    
}

.post-menu{
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.32px;
    display: flex;
    align-items: center;
    
    
}

.menu{
    display: flex;
    gap: 40px;
}
.post-menu-link{
    color: #2e2f42;
    padding: 24px 0;
    gap: 40;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.post-menu-link:hover, .post-menu-link:focus{
     color: #404BBF;
}
.post-menu-link.active{
    color: #404BBF;
}

.post-menu-link.active::after{
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: #404BBF;
}

.post-social{
    font-style: normal;
    
}

.social{
    display: flex;
    gap: 40px;
    
}

.post-social-links{
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.32px; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post-social-links:hover, .post-social-links:focus{
    color: #404bbf;
}

/* SECTION 1*/
.post-section{
    padding: 188px 0 188px;
}

.post-section{
    background: #2E2F42;
    flex-shrink: 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;

    
}

.post-section-title{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto; 
}

.post-section-button{
    color: #ffffff;
    background: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post-section-button:hover, .post-section-button:focus{
    background-color: #404BBF;
}

/* SECTION 2 */
.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.post-secondary-section{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.post-secondary-list{
    width: calc((100% - 72px) / 4);
}
.secondary-list-wrapper{
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}


.post-title-secondary{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2; 
    width: 264px;
    margin-bottom: 8px;
}

.post-text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

/* SECTION 3 */
.post-section-three-title{
    color: #2E2F42;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    max-width: 162px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.post-section-three{
    background: #F4F4FD;
}

.post-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.2;  
}

.title-list{
    display: flex;
    gap: 24px;
}

.post-title-list{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;  
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    

}
.socials{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
.socials-item{
    width: 40px;
    height: 40px;
}
.socials-link{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover, .socials-link:focus{
    background-color: #404BBF;
}
.socials-icon{
    fill: #f4f4fd;
}

.article-title-list{
    padding: 32px 0;
    text-align: center;
}

.post-tittle-secondary{
    text-align: center;
    margin-bottom: 8px;
}
    
/*SECTION 4 */
.post-section-four-title{
color: #2E2F42;
font-size: 36px;
ont-weight: 500;
letter-spacing: 0.02em;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
width: 218px;
margin-left: auto;
margin-right: auto;
margin-bottom: 72px;
}

.post-title-list-four{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.post-title-list-four:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.list-four-wrapper{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 40px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.article-second{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-four-title{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.post-title-list-four:hover .overlay{
    transform: translateY(0);

}

/*FOOTER*/

.post-footer{
    background: #2E2F42;
    padding: 100px 0;
}

.footer-container{
display: flex;
align-items: baseline;
}

.footer-article{
    display: block;
    margin-right: 120px
}
    


.logo-footer{
display: flex;
margin-bottom: 16px;
}

.post-footer-text{
    display: block;
}

.logo-span-footer{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;  
}

.post-footer-text{
    color: #F4F4FD;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
   /display: flex;
}
 

.footer-social-caption{
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

    
}

.footer-socials-list{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-socials-item{
    width: 40px;
    height: 40px;
    display: flex;
}

.footer-socials-link{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icon{
    fill: #f4f4fd;
}
.footer-socials-link:hover,
.footer-socials-link:focus{
    background-color: #31d0aa;
}

.footer-wrapper{
    margin-left: auto;
}
.wrapper-caption{
    margin-bottom: 16px;
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.subscribe-form{
    display: flex;
    align-items: center;
    gap: 24px;
}

.subscribe-form-input{
    background-color: #2E2F42;
    width: 264px;
    height: 40px;
    padding: 8px 16px; 
    outline: none;
    color: #FFF;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.02em;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form-input::placeholder{
    color: #FFF;
}

.subscribe-form-btn{
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #4D5AE5;
}

/*Modal window*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}
.modal{
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    width: 408px;
    min-height: 584px;
    padding: 24px;
    
}

.modal-btn{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #2E2F42;
    margin-bottom: 24px;
   


}
.modal-btn-icon{
   fill: currentColor;
   
}
.modal-caption{
    width: 360px;
    margin-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-label{
    display: block;
    margin-bottom: 8px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

}
.form-field{
    position: relative;
}
.form-input{
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus{
    border-color:  #4D5AE5;
}

.form-icon{
    position: absolute;
    fill:  #2E2F42;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon{
    fill: #4D5AE5;

}
